@import 'variables';

body {
  background-color: $primary-color;
  color: #eeeeee;
}

a {
  color: $secondary-color;
}

.header {
  border-bottom: #eeeeee dashed 1px;
}

.content {
  margin-top: 10px;

  width: 300px;
}


