<div class="product-container container">
  <h4>{{model.name}}</h4>
  <p>Price: {{input value=model.price}}</p>

  <p>Images:</p>

  <ul>
    {{#each model.images as |image|}}
      <li>
        <img src={{image}} alt={{model.title}} width="300"/>
      </li>
    {{/each}}
  </ul>

</div>